.header {
    height: 80px;
    background-color: #4B565E;
    display: flex;
    justify-content: space-between;
    padding: 0px 90px;
    align-items: center;
    color: white;
    margin: 0px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_logo {
    margin-right: 30px;
}

.header_nav {
    display: flex;
}

.header_aboutcompany {
    width: 95px;
    margin-right: 15px;
}

.header_catalog {
    width: 65px;
}
.header_main {
    width: 65px;
    margin-right: 15px;
}

.header_nav_item {
    size: 16px;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right_phone {
    display: flex;
    margin-right: 30px;
}

.header_right_phone_img {
    margin-right: 7px;
}

.header_right_phone_number {
    margin-top: 5px;
}

.header_right_heart {
    margin-right: 30px
}
.button {
    background-color: #4B565E;
    color: white;
    width: 126px;
    border-radius: 50px;
    border: #F0BA4E solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_button_bucket {
    margin-left: 5px
}

.header_button_empty {
    margin-right: 15px
}
.container {
    background-color: #F0BA4E;
    height: 48px;
    display: flex;
    padding: 0px 90px;
    align-items: center;
    justify-content: space-between;
}

.container_left {
    display: flex;
    align-items: center;
}

.container_left_catalog {
    margin-right: 15px;
    background-color: #F0BA4E;
    border: none;
}

.container_left_materials {
    margin-right: 15px;
    background-color: #F0BA4E;
    border: none;
}

.container_left_tools {
    margin-right: 15px;
    background-color: #F0BA4E;
    border: none;
}

.container_left_electrics {
    margin-right: 15px;
    background-color: #F0BA4E;
    border: none;
}

.container_left_cloth {
    background-color: #F0BA4E;
    border: none;
}
.container_right {
    display: flex;
    align-items: center;
}

.container_right_map {
    margin-right: 3px;
}
.container_search {
    background-color: #F0BA4E;
    border: none;
    outline: none;
    width: 300px;
}

.container_input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-right: 10px;
}

.container_map {
    color: white;
    size: 14px;
}

.content_container {
    max-width: 1260px;
    margin: 0 auto;
}

.shelf {
    max-width: 1260px;
    height: 72px;
    max-height: 78px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
}

.shelf_box {
    width: 402px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.shelf_wall {
    margin-right: 16px;
}

.shelf_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.shelf_grey_text {
    color: grey;
}

.shelf_black_text {
    color: #000;
}

.shelf_margin_right {
    margin-right: 16px;
}

.item_cards {
    margin-bottom: 50px;
}

.item_cards__pagination {
    display: flex;
    justify-content: end;
}

.item_cards__pagination_button {
    border: none;
    background: none;
    color: #A1A0A0;
}

.active_button {
    color: #F0BA4E;
}

.item_cards__grid {
    display: flex;
}

.item_cards__grid_left {
    background-image: url("/assets/tool.png");
    height: 428px;
    max-height: 428px;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-position-y: bottom;
    background-position-x: left;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_cards__grid_left_text {
    color: #3C3C3B;
    font-weight: 600;
    font-size: 31px;
}

.item_cards__grid_left_action {
    text-align: end;
}

.image_worker {
    width: 100%;
}
.item_cards__grid_left_action {
    align-self: end;
    display: flex;
    align-items: center;
}

.item_cards__grid_left_action_catalog {
    margin-right: 10px;
}

.item_cards__grid_right {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 28px;
    margin-left: 25px;
    height: 428px;
}

.item_cards__grid_right_block {
    width: 402px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.item_cards__grid_right_block_first {
    background-image: url("/assets/enamels.png");
    height: 200px;
    max-height: 200px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item_cards__grid_right_block_first_text {
    font-size: 31px;
    color: #3C3C3B;
    text-align: end;
    font-weight: 600;
}

.item_cards__grid_right_block_first_action {
    align-items: center;
    display: flex;
    align-self: end;
}

.item_cards__grid_right_block_first_catalog {
    margin-right: 10px;
}

.item_cards__grid_right_block_second {
    background-image: url("/assets/paints.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
    max-height: 200px;
    justify-content: space-between;
    flex-direction: column;
}

.item_cards__grid_right_block_second_text {
    font-size: 31px;
    color: #3C3C3B;
    width: 100px;
    font-weight: 600;
}

.item_cards__grid_right_block_second_action {
    align-items: center;
    display: flex;
}

.item_cards__grid_right_block_second_catalog {
    margin-right: 10px;
}

.item_cards__grid_right_block_third {
    background-image: url("/assets/glue.png");
    background-repeat: no-repeat;
    background-position-x: right;
    height: 200px;
    max-height: 200px;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
}

.item_cards__grid_right_block_third_text {
    font-size: 31px;
    color: #3C3C3B;
    font-weight: 600;
    width: 200px;
}

.item_cards__grid_right_block_third_action {
    align-items: center;
    display: flex;
} 

.item_cards__grid_right_block_third_catalog{
    margin-right: 10px;
}

.item_cards__grid_right_block_four {
    background-image: url("/assets/sockets.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: 200px;
    max-height: 200px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item_cards__grid_right_block_four_text {
    font-size: 31px;
    color: #3C3C3B;
    font-weight: 600;
}

.item_cards__grid_right_block_four_action {
    align-items: center;
    display: flex;
    align-self: end;
}

.item_cards__grid_right_block_four_catalog {
    margin-right: 10px;
}

.popular_products_block {
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular_products_popular-text {
    font-size: 28px;
    font-weight: 500;
}

.popular_products_look-text {
    color: #F0BA4E;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    border: none;
}

.popular_products {
    height: 491px;
    max-width: 1300px;
    width: 1300px;
    max-height: 491px;
    display: flex;
    gap: 25px;
}

.popular_products_card {
    width: 295.5px;
    height: 429px;
    padding: 20px;
    background-image: url("/assets/disk.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position-x: center;
    background-position-y: top 23px;
    box-shadow: 0px 20px 50px 0px #12112714;
}

.popular_products_card_top {
    width: 261px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black_heart {
    width: 38px;
    height: 30px;
    background-color: white;
    border: none;
}

.popular_products_image {
    width: 261px;
    height: 150px;
}

.popular_products_card_diskname {
    text-align: center;
    align-items: center;
    width: 261px;
    font-size: 23.5px;
    font-weight: 500;
    margin-bottom: 8px;
}

.popular_products_price-for-one {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 256px;
    height: 73px;
}

.popular_products_articul {
    margin-bottom: 10px;
}

.popular_products_price_text {
    color: #A1A0A0;
    font-size: 16px;
    margin-bottom: 5px;
}

.popular_products_old_price {
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 600;
}

.popular_products_new_price {
    font-size: 22px;
    font-weight: 600;
}

.popular_products_pricing {
    display: flex;
    justify-content: space-between;
    width: 137px;
    align-items: center;
    margin-bottom: 15px;
}

.popular_products_card_bottom {
    width: 261px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular_products_quanity {
    width: 114px;
    display: block;
}

.popular_products_quanity_text {
    font-size: 16px;
    margin-bottom: 5px
}

.popular_products_quanity_plus-minus {
    width: 61px;
    height: 24px;
    display: flex;
    align-items: center;
}

.popular_products_quanity_minus {
    font-size: 16px;
    margin-right: 10px;
    border: none;
    background-color: white;
}

.popular_products_quanity_one {
    font-size: 20px;
    margin-right: 10px;
}

.popular_products_quanity_plus {
    font-size: 16px;
    border: none;
    background-color: white;
}

.popular_products_bucket {
    border-radius: 50px;
    border: #F0BA4E solid 1px;
    background-color: white;
    width: 119px;
    height: 40px;
}

.popular_products_card_top-images {
    height: 90px;
    width: 110px;
    margin-top: 50px;
}

.advertising {
    max-width: 1260px;
    width: 1260px;
    height: 251px;
    background-color: #F6F6F6;
    background-image: url("/assets/worker_tool.png");
    background-repeat: no-repeat;
    background-position-x: right 20px;
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.advertising_main {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}

.advertising_info {
    font-size: 20px;
    color: gray;
}

.avertising_button {
    color: #F0BA4E;
    border: none;
    background-color: #F6F6F6;
    font-size: 19px;
    margin-top: 80px;
    padding: 0px;
}

.bottom {
    background-color: #4B565E;
    height: 230px;
    padding: 0px 90px;
    justify-content: space-between;
    display: flex;
    color: white;
    padding-top: 25px;
    max-width: 1260px;
}

.bottom_logo {
    margin-bottom: 20px;
    width: 59px;
}

.bottom_grey_phone {
    margin-right: 10px;
}

.bottom_leftblock {
    align-items: center;
    width: 417px;
    
}

.bottom_phone {
    align-items: center;
    display: flex;
}

.bottom_contact_phone {
    color: #FFFFFF99;
    margin-bottom: 7px;
    font-size: 14px;
    margin-top: 5px;
}

.bottom_mail {
    align-items: center;
    display: flex;
}

.boottom_grey_mail {
    margin-right: 10px;
}

.bottom_contact_mail {
    color: #FFFFFF99;
    margin-bottom: 7px;
    font-size: 14px;
    margin-top: 5px;
}

.bottom_contact_info {
    margin-left: 35px;
    color: white;
    font-size: 16px;
    
}

.bottom_contact_first_info {
    display: flex;
    justify-content: space-between;
    width: 366px;
    margin-bottom: 10px;
}

.bottom_contact_second_info {
    display: flex;
    justify-content: space-between;
    width: 347px;
    margin-bottom: 10px;
}

.bottom_rightblock {
    width: 534px;
    height: 162px;
    margin-top: 7px;
}

.bottom_rightblock_questions {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.bottom_rightblock_text {
    font-size: 14px;
    color: #FFFFFF99;
    width: 460px;
    margin-bottom: 30px;
}

.bottom_info {
    display: flex;
    justify-content: space-between;
}

.input_button {
    background-color: #4B565E;
    border: none;
    justify-content: space-between;
}

.email_input {
    color: #FFFFFF99;
    background-color: #4B565E;
    border: none;
    background-repeat: no-repeat;
    font-size: 14px;
}

.input_button {
    display: flex;
    align-items: center;
    width: 460px;
    border: #F0BA4E solid 1px;
    border-radius: 50px;
    height: 40px;
}

.button_sms {
    margin-right: 5px;
}

.email_button {
    border-radius: 50px;
    background-color: #4B565E;
    height: 30px;
    color: white;
    font-size: 12px;
    background-color: #F0BA4E;
    border: none;
    width: 88px;
    margin-right: 5px;
}

.input_image {
    align-items: center;
    display: flex;
    margin-left: 15px;
}

.underbottom {
    height: 143px;
    padding: 0px 90px;
    background-color: #4B565E;
    color: white;
    width: 1260px;
}

.underbottom_info {
    display: flex;
    align-items: center;
    align-self: first baseline;
}

.underbottom_info_button_main {
    background-color: #4B565E;
    border: none;
    color: white;
    margin-right: 15px;
}

.underbottom_info_button_company {
    background-color: #4B565E;
    border: none;
    color: white;
    margin-right: 15px;
}


.underbottom_info_button_catalog {
    background-color: #4B565E;
    border: none;
    color: white;
}

.underbottom_logos {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1190px;
}

.button_face {
    border: none;
    background-color: #4B565E;
    margin-right: 10px;
}

.button_youtube {
    border: none;
    background-color: #4B565E;
    margin-right: 10px;
}

.button_whatsapp {
    border: none;
    background-color: #4B565E;
}

.underbottom_logos_right {
    color: #FFFFFF99;
}