<div class="header">
  <div class="header__left">
    <div class="header__logo">
      <img src="/assets/Frame.svg" alt="Логотип">
    </div>
    <nav class="header__nav">
      <span style="width: 65px; margin-right: 15px;">Главная</span>
      <span style="width: 95px; margin-right: 15px;">О компании</span>
      <span style="width: 65px;">Каталог</span>
    </nav>
  </div> 
  
  <div class="header__right">
    <div class="phone">
      <img style="margin-right: 7px;" src="/assets/Phone-2.svg" alt="Телефон">
      <span style="margin-top: 5px;">+7 (965) 084-29-29</span>
    </div>
    <img style="margin-right: 30px" src="/assets/Vector.svg" alt="Сердце">
    <div class="header__button">
      <button class="button">
        <img style="margin-left: 5px;" src="/assets/Mask group-2.svg" alt="Корзина">
        <span style="margin-right: 15px;">Пусто</span>
      </button>  
    </div>
  </div>
</div>

<div class="container">
  <div class="container__left">
    <img style="margin-right: 7px;" src="/assets/light.svg" alt="Линии">
    <div>
      <span style="margin-right: 15px;">Каталог</span>
      <span style="margin-right: 15px;">Стройматериалы</span>
      <span style="margin-right: 15px;">Инструменты</span>
      <span style="margin-right: 15px;">Электрика</span>
      <span>Интерьер и одежда</span> 
    </div>
  </div> 
  <div class="container__right">
    <div class="container__input">
    <input class="container__search" type="search" placeholder="Поиск, например Круг зачистной">
    <img src="/assets/Mask group.svg" alt="Лупа">
    </div>
    <div class="container__map">
      <img style="margin-right: 3px;" src="/assets/map-pin (2) 1.svg" alt="Точка">
      <span>Москва</span>
    </div>
  </div>
</div>