<div class="header">
  <div class="header_left">
    <div class="header_logo">
      <img src="/assets/logo.svg" alt="Логотип">
    </div>
    <nav class="header_nav">
      <a class="header_main">Главная</a>
      <a class="header_aboutcompany">О компании</a>
      <a class="header_catalog">Каталог</a>
    </nav>
  </div> 
  
  <div class="header_right">
    <div class="header_right_phone">
     <a>
      <img class="header_right_phone_img" src="/assets/phone.svg" alt="Телефон">
     </a>
      <a class="header_right_phone_number">+7 (965) 084-29-29</a>
    </div>
    <a>
    <img class="header_right_heart" src="/assets/heart.svg" alt="Сердце">
    </a>
    <div class="header_button">
      <button class="button">
        <img class="header_button_bucket" src="/assets/bucket.svg" alt="Корзина">
        <span class="header_button_empty">Пусто</span>
      </button>  
    </div>
  </div>
</div>

<div class="container">
  <div class="container_left">
    <img style="margin-right: 7px;" src="/assets/lines.svg" alt="Линии">
    <div>
      <button class="container_left_catalog">Каталог</button>
      <button class="container_left_materials">Стройматериалы</button>
      <button class="container_left_tools">Инструменты</button>
      <button class="container_left_electrics">Электрика</button>
      <button class="container_left_cloth">Интерьер и одежда</button>
    </div>
  </div> 
  <div class="container_right">
    <div class="container_input">
    <input class="container_search" type="search" placeholder="Поиск, например Круг зачистной">
    <img src="/assets/glass.svg" alt="Лупа">
    </div>
    <div class="container_map">
      <img class="container_right_map" src="/assets/map_point.svg" alt="Точка">
      <span>Москва</span>
    </div>
  </div>
</div>

<div>
    <img class="image_worker" src="/assets/worker.png" alt="Рабочий">
</div>
<div class="shelf">
    <div class="shelf_box">
      <img class="shelf_wall" src="/assets/brick_wall.svg" alt="Стенка">
      <div class="shelf_text">
       <span>Большой ассортимент</span>
       <span class="shelf_grey_text">строительных материалов всегда в наличии</span>
      </div>
    </div>  
     
    <div class="shelf_box">
      <img class="shelf_margin_right" src="/assets/car.svg" alt="Доставка">
      <div class="shelf_text">
       <span>Доставка стройматериалов</span> 
       <span class="shelf_grey_text">в течение четырех часов или в любое удобное время</span>
      </div>
    </div> 
    
    <div class="shelf_box">
      <img class="shelf_margin_right" src="/assets/like.svg" alt="Лайк">
      <div class="shelf_text">
        <span class="shelf_grey_text">Многоуровневая <span class="shelf_black_text">cистема</span></span> <span>упраления качеством <span class="shelf_grey_text">по стандарту</span></span><span class="shelf_grey_text"> ISO 9001</span>
      </div>  
    </div>
</div>
<div class="content_container">
  <div class="item_cards">
    <div class="item_cards__pagination">
      <button class="item_cards__pagination_button active_button">1</button>
      <button class="item_cards__pagination_button">2</button>
      <button class="item_cards__pagination_button">3</button>
      <button class="item_cards__pagination_button">4</button>
      <button class="item_cards__pagination_button">5</button>
    </div>
    <div class="content_container">
      <div class="item_cards__grid">
        <div class="item_cards__grid_left">
          <span class="item_cards__grid_left_text">Строительный отделочный инструмент</span> 
          <div class="item_cards__grid_left_action">
            <span class="item_cards__grid_left_action_catalog">Перейти в каталог</span>
            <a>
              <img src="/assets/arrow.svg" alt="Стрелка">
            </a>
          </div> 
        </div>
        <div class="item_cards__grid_right">
          <div class="item_cards__grid_right_block">
            <div class="item_cards__grid_right_block_first">
              <span class="item_cards__grid_right_block_first_text">Эмали</span>
              <div class="item_cards__grid_right_block_first_action">
               <span class="item_cards__grid_right_block_first_catalog">Перейти в каталог</span>
              <a>
               <img src="/assets/arrow.svg" alt="Стрелка">
              </a>
              </div>
            </div>
          </div>
          <div class="item_cards__grid_right_block">
           <div class="item_cards__grid_right_block_second">
            <span class="item_cards__grid_right_block_second_text">Лакокрасочные 
                материалы</span>
            <div class="item_cards__grid_right_block_second_action"> 
             <span class="item_cards__grid_right_block_second_catalog">Перейти в каталог</span>    
             <a>
              <img src="/assets/arrow.svg" alt="Стрелка">
             </a>
            </div>
           </div>
          </div>
          <div class="item_cards__grid_right_block">
           <div class="item_cards__grid_right_block_third">
            <span class="item_cards__grid_right_block_third_text">Пены, клеи и герметики</span>
             <div class="item_cards__grid_right_block_third_action">
              <span class="item_cards__grid_right_block_third_catalog">Перейти в каталог</span>
               <a>
                <img src="/assets/arrow.svg" alt="Стрелка">
               </a>
             </div>
            </div>
          </div>
          <div class="item_cards__grid_right_block">
           <div class="item_cards__grid_right_block_four">
            <span class="item_cards__grid_right_block_four_text">Розетки и выключатели</span>
            <div class="item_cards__grid_right_block_four_action">
             <span class="item_cards__grid_right_block_four_catalog">Перейти в каталог</span>
              <a>
                <img src="/assets/arrow.svg" alt="Стрелка">
              </a>
            </div>
           </div>  
          </div>
        </div>
      </div>
      </div>
</div>
<div class="popular_products_block" >
    <span class="popular_products_popular-text">Популярные товары</span>
    <button class="popular_products_look-text">Посмотреть все товары</button>
</div>
<div class="popular_products">
  <div class="popular_products_card">
    <div class="popular_products_card_top">
        <img src="/assets/discounts.svg" alt="Скидки">
        <button class="black_heart">
        <img src="/assets/black_heart.svg" alt="Черное сердце">
        </button>
      </div>
    <div class="popular_products_image"></div>
    <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
    <div class="popular_products_articul">Артикул 00004</div>
    <div class="popular_products_price-for-one">
      <div class="popular_products_price_text">Цена за штуку</div>
      <div class="popular_products_pricing">
        <span class="popular_products_old_price">52 руб.</span>
        <span class="popular_products_new_price">48 руб.</span>
      </div>
      <div class="popular_products_card_bottom">
        <div class="popular_products_quanity">
          <div class="popular_products_quanity_text">Количество</div>
          <div class="popular_products_quanity_plus-minus">
           <button class="popular_products_quanity_minus">-</button>
           <div class="popular_products_quanity_one">1</div>
           <button class="popular_products_quanity_plus">+</button>
          </div>
        </div>
        <button class="popular_products_bucket">В корзину</button>
      </div>  
    </div>
  </div>
  <div class="popular_products_card">
    <div class="popular_products_card_top">
        <img src="/assets/discounts.svg" alt="Скидки">
        <button class="black_heart">
        <img src="/assets/black_heart.svg" alt="Черное сердце">
        </button>
      </div>
    <div class="popular_products_image"></div>
    <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
    <div class="popular_products_articul">Артикул 00004</div>
    <div class="popular_products_price-for-one">
      <div class="popular_products_price_text">Цена за штуку</div>
      <div class="popular_products_pricing">
        <span class="popular_products_old_price">52 руб.</span>
        <span class="popular_products_new_price">48 руб.</span>
      </div>
      <div class="popular_products_card_bottom">
        <div class="popular_products_quanity">
          <div class="popular_products_quanity_text">Количество</div>
          <div class="popular_products_quanity_plus-minus">
           <button class="popular_products_quanity_minus">-</button>
           <div class="popular_products_quanity_one">1</div>
           <button class="popular_products_quanity_plus">+</button>
          </div>
        </div>
        <button class="popular_products_bucket">В корзину</button>
      </div>  
    </div>
  </div>
  <div class="popular_products_card">
    <div class="popular_products_card_top">
        <div class="popular_products_card_top-images">
        <img src="/assets/new.svg" alt="Новинки">
        <img src="/assets/discounts.svg" alt="Скидки">
        </div>
        <button class="black_heart">
        <img src="/assets/black_heart.svg" alt="Черное сердце">
        </button>
      </div>
    <div class="popular_products_image"></div>
    <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
    <div class="popular_products_articul">Артикул 00004</div>
    <div class="popular_products_price-for-one">
      <div class="popular_products_price_text">Цена за штуку</div>
      <div class="popular_products_pricing">
        <span class="popular_products_old_price">52 руб.</span>
        <span class="popular_products_new_price">48 руб.</span>
      </div>
      <div class="popular_products_card_bottom">
        <div class="popular_products_quanity">
          <div class="popular_products_quanity_text">Количество</div>
          <div class="popular_products_quanity_plus-minus">
           <button class="popular_products_quanity_minus">-</button>
           <div class="popular_products_quanity_one">1</div>
           <button class="popular_products_quanity_plus">+</button>
          </div>
        </div>
        <button class="popular_products_bucket">В корзину</button>
      </div>
    </div>
  </div>
  
  <div class="popular_products_card">
    <div class="popular_products_card_top">
        <div class="popular_products_card_top-images">
            <img src="/assets/new.svg" alt="Новинки">
            <img src="/assets/discounts.svg" alt="Скидки">
        </div>
        <button class="black_heart">
        <img src="/assets/black_heart.svg" alt="Черное сердце">
        </button>
        </div>
    <div class="popular_products_image"></div>
    <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
    <div class="popular_products_articul">Артикул 00004</div>
    <div class="popular_products_price-for-one">
      <div class="popular_products_price_text">Цена за штуку</div>
      <div class="popular_products_pricing">
        <span class="popular_products_old_price">52 руб.</span>
        <span class="popular_products_new_price">48 руб.</span>
      </div>
      <div class="popular_products_card_bottom">
        <div class="popular_products_quanity">
          <div class="popular_products_quanity_text">Количество</div>
          <div class="popular_products_quanity_plus-minus">
           <button class="popular_products_quanity_minus">-</button>
           <div class="popular_products_quanity_one">1</div>
           <button class="popular_products_quanity_plus">+</button>
          </div>
        </div>
        <button class="popular_products_bucket">В корзину</button>
      </div>  
    </div>
  </div>
  </div>
  
<div class="advertising">
  <div class="advertising_main">Более 10 000 наименований </div>  
   <span class="advertising_info">Инструмент для вашего бизнеса, разнообразных марок</span> 
   <div class="advertising_catalog">
   <button class="avertising_button">Перейти в каталог</button>
   </div>
</div>

<div class="popular_products_block" >
    <span class="popular_products_popular-text">Новинки</span>
    <button class="popular_products_look-text">Посмотреть все товары</button>
</div>

<div class="popular_products">
    <div class="popular_products_card">
        <div class="popular_products_card_top">
            <div class="popular_products_card_top-images">
            <img src="/assets/new.svg" alt="Новинки">
            </div>
            <button class="black_heart">
            <img src="/assets/black_heart.svg" alt="Черное сердце">
            </button>
          </div>
        <div class="popular_products_image"></div>
        <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
        <div class="popular_products_articul">Артикул 00004</div>
        <div class="popular_products_price-for-one">
          <div class="popular_products_price_text">Цена за штуку</div>
          <div class="popular_products_pricing">
            <span class="popular_products_old_price">52 руб.</span>
            <span class="popular_products_new_price">48 руб.</span>
          </div>
          <div class="popular_products_card_bottom">
            <div class="popular_products_quanity">
              <div class="popular_products_quanity_text">Количество</div>
              <div class="popular_products_quanity_plus-minus">
               <button class="popular_products_quanity_minus">-</button>
               <div class="popular_products_quanity_one">1</div>
               <button class="popular_products_quanity_plus">+</button>
              </div>
            </div>
            <button class="popular_products_bucket">В корзину</button>
          </div>  
        </div>
      </div>
      <div class="popular_products_card">
        <div class="popular_products_card_top">
            <div class="popular_products_card_top-images">
            <img src="/assets/new.svg" alt="Новинки">
            </div>
            <button class="black_heart">
            <img src="/assets/black_heart.svg" alt="Черное сердце">
            </button>
          </div>
        <div class="popular_products_image"></div>
        <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
        <div class="popular_products_articul">Артикул 00004</div>
        <div class="popular_products_price-for-one">
          <div class="popular_products_price_text">Цена за штуку</div>
          <div class="popular_products_pricing">
            <span class="popular_products_old_price">52 руб.</span>
            <span class="popular_products_new_price">48 руб.</span>
          </div>
          <div class="popular_products_card_bottom">
            <div class="popular_products_quanity">
              <div class="popular_products_quanity_text">Количество</div>
              <div class="popular_products_quanity_plus-minus">
               <button class="popular_products_quanity_minus">-</button>
               <div class="popular_products_quanity_one">1</div>
               <button class="popular_products_quanity_plus">+</button>
              </div>
            </div>
            <button class="popular_products_bucket">В корзину</button>
          </div>  
        </div>
      </div>
      <div class="popular_products_card">
        <div class="popular_products_card_top">
            <div class="popular_products_card_top-images">
            <img src="/assets/new.svg" alt="Новинки">
            </div>
            <button class="black_heart">
            <img src="/assets/black_heart.svg" alt="Черное сердце">
            </button>
          </div>
        <div class="popular_products_image"></div>
        <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
        <div class="popular_products_articul">Артикул 00004</div>
        <div class="popular_products_price-for-one">
          <div class="popular_products_price_text">Цена за штуку</div>
          <div class="popular_products_pricing">
            <span class="popular_products_old_price">52 руб.</span>
            <span class="popular_products_new_price">48 руб.</span>
          </div>
          <div class="popular_products_card_bottom">
            <div class="popular_products_quanity">
              <div class="popular_products_quanity_text">Количество</div>
              <div class="popular_products_quanity_plus-minus">
               <button class="popular_products_quanity_minus">-</button>
               <div class="popular_products_quanity_one">1</div>
               <button class="popular_products_quanity_plus">+</button>
              </div>
            </div>
            <button class="popular_products_bucket">В корзину</button>
          </div>  
        </div>
      </div>
      <div class="popular_products_card">
        <div class="popular_products_card_top">
            <div class="popular_products_card_top-images">
            <img src="/assets/new.svg" alt="Новинки">
            </div>
            <button class="black_heart">
            <img src="/assets/black_heart.svg" alt="Черное сердце">
            </button>
          </div>
        <div class="popular_products_image"></div>
        <div class="popular_products_card_diskname">Круг зачистной 125х6х22</div>
        <div class="popular_products_articul">Артикул 00004</div>
        <div class="popular_products_price-for-one">
          <div class="popular_products_price_text">Цена за штуку</div>
          <div class="popular_products_pricing">
            <span class="popular_products_old_price">52 руб.</span>
            <span class="popular_products_new_price">48 руб.</span>
          </div>
          <div class="popular_products_card_bottom">
            <div class="popular_products_quanity">
              <div class="popular_products_quanity_text">Количество</div>
              <div class="popular_products_quanity_plus-minus">
               <button class="popular_products_quanity_minus">-</button>
               <div class="popular_products_quanity_one">1</div>
               <button class="popular_products_quanity_plus">+</button>
              </div>
            </div>
            <button class="popular_products_bucket">В корзину</button>
          </div>  
        </div>
      </div>
  </div>
</div>
<div class="bottom"> 
  <div class="bottom_leftblock">
    <img class="bottom_logo" src="/assets/logo.svg" alt="Логотип">
     <div class="bottom_info">
      <div class="bottom_phone">
       <img class="bottom_grey_phone" src="assets/grey_phone.svg" alt="Серый телефон">
       <span class="bottom_contact_phone">Контактный телефон</span>
      </div>
     <div class="bottom_mail">
      <img class="boottom_grey_mail" src="/assets/mail.svg" alt="Почта">
      <span class="bottom_contact_mail">Электронная почта</span>
     </div> 
    </div>
    <div class="bottom_contact_info">
    <div class="bottom_contact_first_info">
      <span>+ 7 (812) 309-09-34</span>
      <span>tustin78mail.ru</span>
    </div>
    <div class="bottom_contact_second_info">
      <span>+ 7 (965) 084-29-09</span>
      <span>infotustin.ru</span>
    </div>
   </div> 
</div>  
<div class="bottom_rightblock"> 
  <div class="bottom_rightblock_questions">Остались вопросы?</div>
  <div class="bottom_rightblock_text">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</div>
  <div class="input_button">
    <div class="input_image">
   <img class="button_sms" src="/assets/sms.svg" alt="Смс">
   <input class="email_input" type="email" placeholder="Введите свою почту" required>
    </div>
   <button class="email_button" type="submit">Отправить</button>
  </div>
 </div>
</div>

<div class="underbottom">
  <div class="underbottom_info">
    <button class="underbottom_info_button_main">Главная</button>
    <button class="underbottom_info_button_company">О компании</button>
    <button class="underbottom_info_button_catalog">Каталог</button>
  </div>
  <div class="underbottom_logos">
    <div>
    <button class="button_face"><img src="/assets/facebook.svg" alt="Фейсбук"></button>
    <button class="button_youtube"><img src="/assets/youtube.svg" alt="Ютуб"></button>
    <button class="button_whatsapp"><img src="/assets/whatsapp.svg" alt="Вотсап"></button>
    </div>
    <div class="underbottom_logos_right">© 2021-2022, EDE</div>
  </div>
</div>